@import '@/assets/styles/_global.scss';

.StepContact {
  &-mobile {
    @media (max-width: 768px) {
      .ant-row {
        &.ant-row-no-wrap {
          flex-wrap: wrap;
          .ant-col {
            &:nth-child(2) {
              flex: 0 0 calc(100% - 6rem - 12px);
            }
          }
        }
      }
    }
  }

  &-socials {
    @media (max-width: 768px) {
      .ant-row {
        &.ant-row-no-wrap {
          flex-wrap: wrap;
          row-gap: 1rem !important;
        }
      }
    }
  }
}
