@import '@/assets/styles/_global.scss';

.PaymentHistories {
  &-card {
    column-gap: .8rem;

    &-icon {
      flex: 0 0 2.4rem;
      max-width: 2.4rem;
      height: 2.4rem;
      width: 2.4rem;
      @include centerOriginImage;
    }
  }

  &-btn {
    .ant-btn {
      height: auto;
      padding: 0;
    }
  }
}
