@import '@/assets/styles/_global.scss';

.Steps {
  &-step {
    column-gap: .8rem;
    row-gap: 1.2rem;
    margin-bottom: 2.4rem;

    &-item {
      position: relative;
      flex: 0 0 4.4rem;
      max-width: 4.4rem;
      height: 4.4rem;
      width: 4.4rem;
      border-radius: 50%;
      font-size: 1.4rem;
      font-weight: 700;
      background: $heather;
      color: $white;
      transition: $common-transition;
      user-select: none;

      &:first-child {
        .Steps-step-item {
          &-title {
            left: 0;
            transform: none;
            text-align: left;
          }
        }
      }

      &:last-child {
        .Steps-step-item {
          &-title {
            right: 0;
            left: unset;
            transform: none;
            text-align: right;
          }
        }
      }

      &-title {
        position: absolute;
        top: calc(100% + 1.2rem);
        left: 50%;
        transform: translateX(-50%);
        font-size: 1.2rem;
        color: $white;
        font-weight: 600;
        text-align: center;
      }

      &-line {
        height: .5rem;
        border-radius: 3rem;
        background: $heather;
        transition: $common-transition;

        &.active {
          background: $radical-red;
        }
      }

      &:hover {
        background: darken($heather, 5%);
      }

      &.active {
        background: $radical-red;

        &:hover {
          background: darken($radical-red, 5%);
        }
      }
    }
  }
}
