@import '@/assets/styles/_global.scss';

.Table {
  margin: 0 -1rem;

  .ant-table {
    background: transparent;

    .ant-table-column-sort {
      &[aria-sort="ascending"] {
        .ant-table-column-sorter {
          background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='23' height='23' rx='3.5' stroke='%2365819A'/%3E%3Cpath d='M19.3671 10.1672L17.2437 3.52734C17.2155 3.43594 17.1312 3.375 17.0351 3.375H15.221C15.1249 3.375 15.0429 3.43594 15.0124 3.52734L12.8726 10.1672C12.8655 10.1883 12.8608 10.2117 12.8608 10.2352C12.8608 10.3547 12.9593 10.4531 13.0788 10.4531H14.4007C14.4991 10.4531 14.5835 10.3875 14.6116 10.2938L15.0218 8.85H17.1077L17.5132 10.2914C17.539 10.3852 17.6257 10.4508 17.7241 10.4508H19.1585C19.1819 10.4508 19.203 10.4484 19.2241 10.4414C19.2804 10.4227 19.3249 10.3852 19.353 10.3336C19.3788 10.282 19.3835 10.2234 19.3671 10.1672ZM15.2351 7.62891L16.0038 4.88906H16.1515L16.9038 7.62891H15.2351Z' fill='%2365819A'/%3E%3Cpath d='M18.5983 19.1813H15.5608V19.1719L18.6687 14.7445C18.6944 14.707 18.7085 14.6648 18.7085 14.618V13.7648C18.7085 13.6453 18.6101 13.5469 18.4905 13.5469H13.7093C13.5897 13.5469 13.4913 13.6453 13.4913 13.7648V14.7727C13.4913 14.8922 13.5897 14.9906 13.7093 14.9906H16.5827V15L13.4632 19.4273C13.4374 19.4648 13.4233 19.507 13.4233 19.5539V20.407C13.4233 20.5266 13.5218 20.625 13.6413 20.625H18.596C18.7155 20.625 18.814 20.5266 18.814 20.407V19.3992C18.8163 19.2797 18.7179 19.1813 18.5983 19.1813Z' fill='%23B5C3CE'/%3E%3Cpath d='M9.43891 16.4531H7.65766V4.03125C7.65766 3.92812 7.57328 3.84375 7.47016 3.84375H6.15766C6.05453 3.84375 5.97016 3.92812 5.97016 4.03125V16.4531H4.18891C4.03188 16.4531 3.94281 16.6359 4.04125 16.7578L6.66625 20.0836C6.74125 20.1797 6.88656 20.1797 6.96156 20.0836L9.58656 16.7578C9.68266 16.6359 9.59594 16.4531 9.43891 16.4531Z' fill='%2365819A'/%3E%3C/svg%3E%0A");
          background-size: contain;
          background-position: center;  
        }
      }
      
      &[aria-sort="descending"] {
        .ant-table-column-sorter {
          background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='23' height='23' rx='3.5' stroke='%2365819A'/%3E%3Cpath d='M19.6171 10.1672L17.4937 3.52734C17.4655 3.43594 17.3812 3.375 17.2851 3.375H15.471C15.3749 3.375 15.2929 3.43594 15.2624 3.52734L13.1226 10.1672C13.1155 10.1883 13.1108 10.2117 13.1108 10.2352C13.1108 10.3547 13.2093 10.4531 13.3288 10.4531H14.6507C14.7491 10.4531 14.8335 10.3875 14.8616 10.2938L15.2718 8.85H17.3577L17.7632 10.2914C17.789 10.3852 17.8757 10.4508 17.9741 10.4508H19.4085C19.4319 10.4508 19.453 10.4484 19.4741 10.4414C19.5304 10.4227 19.5749 10.3852 19.603 10.3336C19.6288 10.282 19.6335 10.2234 19.6171 10.1672ZM15.4851 7.62891L16.2538 4.88906H16.4015L17.1538 7.62891H15.4851Z' fill='%2365819A'/%3E%3Cpath d='M18.8483 19.1813H15.8108V19.1719L18.9187 14.7445C18.9444 14.707 18.9585 14.6648 18.9585 14.618V13.7648C18.9585 13.6453 18.8601 13.5469 18.7405 13.5469H13.9593C13.8397 13.5469 13.7413 13.6453 13.7413 13.7648V14.7727C13.7413 14.8922 13.8397 14.9906 13.9593 14.9906H16.8327V15L13.7132 19.4273C13.6874 19.4648 13.6733 19.507 13.6733 19.5539V20.407C13.6733 20.5266 13.7718 20.625 13.8913 20.625H18.846C18.9655 20.625 19.064 20.5266 19.064 20.407V19.3992C19.0663 19.2797 18.9679 19.1813 18.8483 19.1813Z' fill='%23B5C3CE'/%3E%3Cpath d='M7.21156 3.91631C7.13656 3.82021 6.99125 3.82021 6.91625 3.91631L4.29125 7.24209C4.19281 7.36631 4.28188 7.54678 4.43891 7.54678H6.22016V19.9687C6.22016 20.0718 6.30453 20.1562 6.40766 20.1562H7.72016C7.82328 20.1562 7.90766 20.0718 7.90766 19.9687V7.54678H9.68891C9.84594 7.54678 9.935 7.36396 9.83656 7.24209L7.21156 3.91631Z' fill='%2365819A'/%3E%3C/svg%3E%0A");
          background-size: contain;
          background-position: center;  
        }
      }
    }

    .ant-table-column-sorter {
      width: 2.4rem;
      height: 2.4rem;
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='23' height='23' rx='3.5' stroke='%2365819A'/%3E%3Cpath d='M19.3671 10.1672L17.2437 3.52734C17.2155 3.43594 17.1312 3.375 17.0351 3.375H15.221C15.1249 3.375 15.0429 3.43594 15.0124 3.52734L12.8726 10.1672C12.8655 10.1883 12.8608 10.2117 12.8608 10.2352C12.8608 10.3547 12.9593 10.4531 13.0788 10.4531H14.4007C14.4991 10.4531 14.5835 10.3875 14.6116 10.2938L15.0218 8.85H17.1077L17.5132 10.2914C17.539 10.3852 17.6257 10.4508 17.7241 10.4508H19.1585C19.1819 10.4508 19.203 10.4484 19.2241 10.4414C19.2804 10.4227 19.3249 10.3852 19.353 10.3336C19.3788 10.282 19.3835 10.2234 19.3671 10.1672ZM15.2351 7.62891L16.0038 4.88906H16.1515L16.9038 7.62891H15.2351Z' fill='%2365819A'/%3E%3Cpath d='M18.5983 19.1813H15.5608V19.1719L18.6687 14.7445C18.6944 14.707 18.7085 14.6648 18.7085 14.618V13.7648C18.7085 13.6453 18.6101 13.5469 18.4905 13.5469H13.7093C13.5897 13.5469 13.4913 13.6453 13.4913 13.7648V14.7727C13.4913 14.8922 13.5897 14.9906 13.7093 14.9906H16.5827V15L13.4632 19.4273C13.4374 19.4648 13.4233 19.507 13.4233 19.5539V20.407C13.4233 20.5266 13.5218 20.625 13.6413 20.625H18.596C18.7155 20.625 18.814 20.5266 18.814 20.407V19.3992C18.8163 19.2797 18.7179 19.1813 18.5983 19.1813Z' fill='%23B5C3CE'/%3E%3Cpath d='M9.43891 16.4531H7.65766V4.03125C7.65766 3.92812 7.57328 3.84375 7.47016 3.84375H6.15766C6.05453 3.84375 5.97016 3.92812 5.97016 4.03125V16.4531H4.18891C4.03188 16.4531 3.94281 16.6359 4.04125 16.7578L6.66625 20.0836C6.74125 20.1797 6.88656 20.1797 6.96156 20.0836L9.58656 16.7578C9.68266 16.6359 9.59594 16.4531 9.43891 16.4531Z' fill='%2365819A'/%3E%3C/svg%3E%0A");
      background-size: contain;
      background-position: center;

      * {
        display: none;
      }
    }

    .ant-table-cell {
      &.text-center {
        text-align: center;
      }
    }

    .ant-table-thead>tr>th {
      background: transparent !important;
      padding: 0;
      border: none !important;
      font-size: 1.6rem;
      font-weight: 600;
      color: $white;
      padding: 1rem;
      white-space: nowrap;
    }

    .ant-table-tbody>tr>td {
      background: transparent !important;
      padding: 0;
      border: none !important;
      font-size: 1.4rem;
      color: $heather;
      padding: 1rem;
      vertical-align: middle;
    }
  }

  &-footer {
    margin-top: 2.4rem;
  }
}
